/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}


/* ---------------------------------------------------- */

h1 {
    margin-left: 2rem;
}

.kontakty {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: grey;
    border-radius: 10px;
    margin-right: 2rem;
    margin-left: 2rem;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.hanka,
.jana,
.marketa,
.monika {
    background-color: white;
    width: 22%;
    max-height: 100%;
    padding: 2rem;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 4px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.fotka {
    border-radius: 50%;
    width: 130px;
    justify-content: center;
    text-align: center;
}

.icons {
    width: 35px;
    height: 35px;
    margin: 5px;
}